.input-group {
    /* Group 1 */

    position: absolute;
    width: 220px;
    height: 184px;
    left: 163px;
    top: 18px;
    bottom: 18px;
    flex-shrink: 0;
}
.slds-form-element {
    margin-bottom: 24px;
}

.input-id-password .slds-form-element__label {

    display: flex;
    align-items: center;
    gap: 8px;
    top: 24px;

    color: var(--Text-Weak, #444);
    font-feature-settings: 'clig' off, 'liga' off;
    /* 02 - Label / Default */
    font-family: Segoe UI;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.input-id-password .slds-input {
    display: flex;
    width: 220px;
    height: 32px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    color: var(--Text-Placeholder, #747474);
    font-feature-settings: 'clig' off, 'liga' off;
    /* 03 - Body/Default */
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
}
.button-check .slds-button {
    display: flex;
    width: 220px;
    height: 32px;
    padding: 1px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    color: var(--Foundation-Blue-Blue-50, #0176D3);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* 03 - Body/Default */
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
}
