.login-wrapper {
    /* 로그인 */

    position: relative;
    width: 1675px;
    height: 720px;

    background: #FFFFFF;
}
.card-container {

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 596px;
    height: 278px;
    left: 540px;
    top: 131px;
}
.card {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 596px;
    height: 278px;

    /* Foundation/Gray/Neutral-100 */
    background: #FFFFFF;
    /* Foundation/Gray/Neutral-80 */
    border: 1px solid #C9C9C9;
    /* 04 - Card / Default */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}
.content-container {
    width: 596px;
    height: 278px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

}
.content {
    position: absolute;
    width: 560px;
    height: 242px;
    left: 18px;
    top: 18px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}
.tabs-container {
    /* Tabs

    Tabs keeps related content in a single container that is shown and hidden through navigation.
    */

    position: absolute;
    width: 560px;
    height: 40px;
    left: 18px;
    top: 18px;

    /* Foundation/Gray/Neutral-100 */
    background: #FFFFFF;


    /* Border */

    position: absolute;
    height: 1px;
    left: 0%;
    right: 0%;
    bottom: 0px;

    /* Foundation/Gray/Neutral-80 */
    background: #C9C9C9;


    /* Tabs */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 228px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.tabs-login {
    /* Tab */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;

    width: 60px;
    height: 40px;

    background: #FFFFFF;
    /* 05 - Tab / Selected */
    box-shadow: inset 0px -2px 0px #1589EE;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


    /* Text */

    width: 36px;
    height: 20px;

    /* 03 - Body / Bold */
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */

    /* Text / Default */
    color: #181818;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.tabs-signup {
    /* Tab */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;

    width: 72px;
    height: 40px;

    /* Foundation/Gray/Neutral-100 */
    background: #FFFFFF;
    /* 05 - Tab/Default */
    box-shadow: inset 0px -1px 0px #747474;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;


    /* Text */

    width: 48px;
    height: 20px;

    /* 03 - Body/Default */
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */

    /* Text / Default */
    color: #181818;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.tabs-password {
    /* Tab */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;

    width: 96px;
    height: 40px;

    /* Foundation/Gray/Neutral-100 */
    background: #FFFFFF;
    /* 05 - Tab/Default */
    box-shadow: inset 0px -1px 0px #747474;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;


    /* Text */

    width: 72px;
    height: 20px;

    /* 03 - Body/Default */
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */

    /* Text / Default */
    color: #181818;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}








