.custom-box-one {

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 596px;
    height: 391px;
    left: 540px;
    top: 131px;
}
.custom-box-two {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 596px;
    height: 391px;

    position: absolute;
    /* Foundation/Gray/Neutral-100 */
    background: #FFFFFF;
    /* Foundation/Gray/Neutral-80 */
    border: 1px solid #C9C9C9;
    /* 04 - Card / Default */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}
.custom-box-three {
    position: absolute;
    width: 596px;
    height: 391px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

}
